
body{
    h1,h2,h3,h4,h5,h6,p,li {
        color: white;
    }
section{
    height:100%;

  main{
    // margin:50px;
     text-align: center;

    #layout-main{
        height: 100%;
    }

    li{
        list-style: none;
    }
}
}
}